@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face{
    font-family: wondershine;
    src: url(Fonts/wondershine.ttf);
}

/*--------- CSS VARIAVEIS----------*/

:root{
    --header-heigth: 3.5rem;

/*--------- CSS VARIAVEIS----------*/
    --first-color: #d90429;
    --first-color-alt: #e04053;
    --title-color: #fafafa;
    --text-color: #a7abb4;
    --branco: #fff;
    --boddy-color: #13141b;
    --contaiver-color: #1d1e2e;

/*---------Fonts e Tipografia----------*/
    --text-font: 'Poppins', sans-serif;
    --title-font: 'Ubuntu', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size:1.5rem;
    --h2-font-size:1.25rem;
    --h3-font-size:1rem;
    --normal-font-size: 0.938rem;
    --samll-font-size: .813rem;
    --smaller-font-size: .75rem;

/*---------Fonts Weight----------*/
    --font-leigther: 300;
    --font-light: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

/*---------Z INDEX----------*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*---------RESPONSIVO TIPOGRAFIA----------*/
@media screen and (min-width: 968px) {
    :root{
        --h1-font-size:2.25rem;
        --h3-font-size:1.5rem;
        --h3-font-size:1.25rem;
        --normal-font-size: 1rem;
        --samll-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
    
/*---------BASE----------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--text-font);
    font-size: var(--normal-font-size);
    background-color: var(--boddy-color);
    color: var(--text-color);
}

h1, h2, h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
    line-height: 1.4;
}

ul{
    list-style: none;
    font-family: var(--title-font);
}

a{
    text-decoration: none;
    font-family: var(--title-font);
}

img{
    max-width: 100%;
    height: auto;
}

/*---------reusable classes do css----------*/
.container{
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.grid{
    display: grid;
    gap:1.5rem,
}

.section{
    padding: 4.5rem 0 2rem;   
}

.section-title{
    font-size: var(--h1-font-size);
    margin-bottom: 2.5rem;
    font-family: var(--title-font);
}

.subtitle{
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    padding-left: 2rem;
    position: relative;
    display: flex;
    margin-bottom: 1.3rem;
}

.subtitle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: var(--first-color);
}

.main{
    overflow: hidden;
}


/*---------Header e Nav Menu----------*/
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    border-bottom: 1px solid rgba(109, 109, 109, 0.4);
    transition: 0.3s;
}

.nav{
    height: var(--header-heigth);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-family: var(--title-font);
}

.nav-logo, 
.nav_toggle{
    color: var(--title-color);
    display: inline-flex;
}

.nav-logo{
    align-items: center;
    column-gap: 0.25rem;
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.nav-logo i{
    font-size: 1.25rem;
    color: var(--first-color);
}

.nav-logo:hover{
    color: var(--first-color);
}

.nav_toggle{
    font-size: 1.25rem;
    cursor: pointer;
    color: #fafafa;
}

@media screen and (max-width: 767px) {
    
    .nav_menu{
        position: fixed;
        background-color: rgba(0, 6, 15, 0.1);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        -webkit-backdrop-filter: blur(96px);
        transition: 0.3s;
    }
}

.nav-list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
    padding-top: 9rem;
}

.nav-link{
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    transition: 0.3s;
}

.nav-link:hover{
    color: var(--first-color);
}

.nav_close{
    font-size: 2rem;
    color: var(--branco);
    position: absolute;
    top: 1rem;
    right: 1.15rem;
    cursor: pointer;
}

.dowload_link{
    font-size: var(--normal-font-size);
    padding: 1rem 2rem;
    background-color: var(--first-color);
    border-radius: 50px;
    color: var(--branco);
    transform: 0.3s;
}

.dowload_link:hover{
    background-color: var(--first-color-alt);
    color: var(--boddy-color);
}


/*---------Show Menu----------*/
.show-menu{
    right: 0;
}


/*---------Change Background Color----------*/
.scroll-header{
    background-color: var(--boddy-color);
}


/*---------Active Link navbar----------*/
.active-link{
    color: var(--first-color);
    position: relative;
}



/*---------Home Section----------*/
.home{
    padding-bottom: 0;
}

.home_container{
    padding-top: 4rem;
    row-gap: 3.5rem;
}

.home_title, .home_value-number{
    color: var(--title-color);
}

.home_title{
    font-size: var(--biggest-font-size);
    line-height: 1.3;
    margin-bottom: 0.9rem;
    text-transform: capitalize;
}

.home_descriçao{
    color: var(--text-color);
    margin-bottom: 2rem;
}

.home-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    color: var(--branco);
    padding: 0.9rem 2rem;
    border-radius: .4rem 0 .4rem 2rem;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
    font-family: var(--title-font);
    margin-bottom: 1.5rem;
}

.home-button:hover{
    background-color: var(--first-color-alt);
    color: var(--boddy-color);
}

.home_value{
    display: flex;
    column-gap: 2.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.home_value-number{
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

.home_value-number span{
    color: var(--first-color);
}

.line-h{
    height: 50px;
    width: 2px;
    background-color: #a7abb4;
}


/*---------Sobre Section----------*/

.sobre-descriçao{
    margin-bottom: 2rem;
}

.sobre_data-card{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 4rem;
}

.sobre_card{
    background-color: var(--contaiver-color);
    border-radius: 15px;
    padding: 1.2rem;
    position: relative;
    overflow: hidden;
}

.sobre_card img{
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.sobre_card-title{
    font-size: var(--small-font-size);
}

.sobre_card-desc{
    font-size: var(--smaller-font-size);
}

.sobre-card-icon{
    position: absolute;
    font-size: 1.5rem;
    color: var(--branco);
    background-color: var(--first-color);
    right: 0;
    bottom: 0;
    padding: 0.4rem;
    border-radius: 15px 0 0 0;
    cursor: pointer;
    transition: 0.3s;
}

.sobre-card-icon:hover{
    background-color: var(--first-color-alt);
    color: var(--boddy-color);
}


/*---------Brands Section----------*/
.brands_img{
   width: 40px;
   opacity: 0.4;
   transition: 0.3s; 
}

.brands_container{
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 2rem;
}

.brands_img:hover{
    opacity: 1;
}

/*---------Why Section----------*/
.why_container{
   background-color: var(--contaiver-color);
   padding: 1.5rem; 
}

.why_descriçao{
    font-family: wondershine;
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.why_container span{
    color: var(--first-color);
}

/*---------Popular Section----------*/
.popular{
    margin-top: -13rem;
    padding-bottom: 4rem;
    padding-top: 16rem;
    position: relative;
}

.popular-bg{
    position: absolute;
    height: 100%;
    top: 0; 
    right: 50%;
    transform: translateX(50%);
    z-index: -1;
}

.polular_container h2{
    text-align: center;
    color: var(--boddy-color);
    border-radius: 25px;
    margin-bottom: 50px;
}


.popular_card{
    background-color: var(--contaiver-color);
    border-radius: 25px;
    padding: 2rem 1.5rem;
    width: 238px;
    margin-bottom: 3.5rem;
}

.car-name{
    font-size: var(--h2-font-size);
}

.car-model{
    font-size: var(--samll-font-size);
}

.car-img{
    height: 100px;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
}

.car-img:hover{
    transform: translateX(15px);
}

.car_detalhe{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car_detalhe span{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
    margin-top: 0.5rem;
}

.speed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.speed img{
    width: 17px;
    margin-right: 0.25rem;
}

.car_line{
    width: 1px;
    height: 12px;
    background-color: var(--text-color);
    margin-top: 0.5rem;
}

.car_btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
}

.buy_btn{
    background-color: var(--first-color);
    color: var(--branco);
    padding: 0.4rem 1rem;
    border-radius: 50px;
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
}

.buy_btn:hover{
    background-color: var(--first-color-alt);
    color: var(--contaiver-color);
}

.alugue_btn{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: 0.3s;
    position: relative;
}

.alugue_btn::before{
    content: "";
    position: absolute;
    bottom: -0.15rem;
    left: 0;
    width: 75%;
    height: 2px;
    background-color: var(--first-color);
    transition: 0.3s;
}

.alugue_btn:hover::before{
    width: 100%;
    background-color: var(--first-color-alt);
}

/*---------Newletter Section----------*/
.newletter_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--contaiver-color);
    padding: 1.5rem 2rem 2rem 2rem;
}

.newletter_descriçao{
    margin-bottom: 1.5rem;
}

.newletter_form{
    display: flex;
    column-gap: 0.5rem;
}

.newletter_input{
    border: none;
    outline: none;
    padding: 1.1rem 1rem;
    border-radius: 0.25rem;
    width: 65%;
    columns: var(--text-color);
    font-family: var(--text-font);
}

.newletter-btn{
    padding: 0.75rem;
    font-size: var(--normal-font-size);
    border-radius: 0.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    color: var(--branco);
    border: none;
    font-family: var(--title-font);
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: 0.3s;
}

.newletter-btn:hover{
    background-color: var(--first-color-alt);
    color: var(--boddy-color);
}

/*---------Produtos Section----------*/
.produtos_subtitle{
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    text-align: center;
    display: block;
}

.produtos h2{
    text-align: center;
}

.produtos_container{
    padding-top: 1rem;
}

.produtos_filtros{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}

.produtos_item{
    width: 48px;
    height: 48px;
    border: none;
    padding: 0.75rem;
    background-color: var(--contaiver-color);
    border-radius: 0.75rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-family: var(--title-font);
    font-size: var(--normal-font-size);
    transition: 0.3s;
    cursor: pointer;
}


.produtos_item img{
    width: 1.5rem;
}

.produtos_item span, 
.produtos_item img{
    opacity: 0.4;
    transition: 0.3s;
}

.produtos_item:hover{
    background-color: var(--first-color);
    color: var(--branco);
}

.produtos_item:hover span,
.produtos_item:hover img{
    opacity: 1;
}

.produtos_content{
    grid-template-columns: 228px;
    row-gap: 2.5rem;
    justify-content: center;
}


.produtos_card{
    margin-bottom: 0;
}

/*---------ACTIVE PRODUTO----------*/
.active-product{
    background-color: var(--first-color);
}

.active-product span{
    color: var(--boddy-color);
    opacity: 1;
}

.active-product img{
    opacity: 1;
    filter: invert(100%);
    -webkit-filter: invert(100%)
}


/*--------- Download section----------*/

.app_container{
    background-color: var(--contaiver-color);
    padding: 0.2rem 2rem 2rem;
}

.app_img{
    width: 70%;
    position: relative;
}


.app_data h2{
    margin-bottom: 2.5rem;
}

.app_descriçao{
    margin-bottom: 2rem;
}


.ios-btn a,
.android-btn a{
    padding: 0.7rem 1.6rem;
    color: var(--branco);
    font-size: var(--samll-font-size);
    font-weight: var(--font-medium);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s
}

.ios-btn a{
    background-color: var(--first-color);
    border-radius: 50px;
    margin-bottom: 1rem;
}

.ios-btn a:hover{
    background-color: var(--first-color-alt);
    color: var(--boddy-color);
}

.android-btn a{
    background-color: var(--branco);
    color: #13141b;
    border-radius: 50px;
}

.android-btn a:hover{
    background-color: var(--contaiver-color);
    color: var(--title-color);
    border: 1px solid var(--title-color);
}


.ios-btn a img,
.android-btn a img{
    width: 30px;
    margin-right: 0.5rem;
}

/*---------Footer section----------*/
.footer{
    margin-top: 4rem;
}

.logo-info a {
    margin-bottom: 0.8rem;
}


.footer_title{
    margin-bottom: 1rem;
    font-size: var(--h3-font-size);
}

.footer_descriçao{
    max-width: 250px;
}

.informaçao ul li a,
.compahia ul li a{
    font-size: var(--normal-font-size);
    color: var(--text-color);
    transition: 0.3s;
    display: inline-block;
}

.informaçao ul li a:hover,
.compahia ul li a:hover{
    color: var(--first-color);
    transform: translateX(5px);
}

.informaçao ul li ,
.compahia ul li {
    margin-bottom: 0.8rem;
}

.social ul{
    display: flex;
    align-items: center;
}

.social ul li{
    margin-right: 0.5rem;
}

.social ul li a i{
    color: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    padding: 0.5rem;
    transition: 0.3s;
}

.social ul li a i:hover{
    background-color: var(--first-color);
}

.footer-line{
    width: 100%;
    height: 1px;
    background-color: var(--contaiver-color);
    margin: 4rem 0 1rem;
}

.direitos small{
    text-align: center;
    display: block;
}

/*---------Scroll section----------*/
.scollup{
    position: fixed;
    right: 1.5rem;
    bottom: -30%;
    background-color: #e04053;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    display: inline-flex;
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-size: 1.15rem;
    color: var(--title-color);
    z-index: var(--z-tooltip);
    transition: 0.3s;
}

.scollup:hover{
    transform: translateY(-0.25rem);

}

/*---------Show section----------*/
.show-scroll{
    bottom: 3rem;
}

/*---------Scroll Bar----------*/
::-webkit-scrollbar{
    background-color:var(--contaiver-color);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: #2a3e5b;
    transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #33496c;
}

/*---------Selection Color----------*/
::selection{
    color: var(--boddy-color);
    background-color: var(--first-color);
}

::-moz-selection{
    color: var(--boddy-color);
    background-color: var(--first-color);
}


/*---------Section low----------*/
@media screen and (max-width: 350px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section{
        padding: 3.5rem 0 1rem;
    }

    .scollup{
        right: 1rem;
    }
}


@media screen and (max-width: 320px){
    .brands_container{
        gap: 2.5rem;
    }

    .why_descriçao{
        font-size: var(--h2-font-size);
    }

    .popular{
        padding-top: 19rem;
    }

    .newletter_input{
        width: 100%;
    }
}


/*---------Section Medium devices----------*/
@media screen and (min-width: 576px){
    .sobre_data-card{
        width: 300px;
    }

    .why_container{
        padding: 2.5rem;
    }

    .newletter_container{
        padding: 2rem 2.5rem 2.5rem 2.5rem;
    }

    .newletter_form{
        display: flex;
        justify-content: center;
    }

    .produtos_content{
        grid-template-columns: repeat(2, 228px);
        row-gap: 1.5rem;
        column-gap: 2rem;
    }

    .app_container{
        padding: 0 3rem 3rem 2rem;
    }

    .app_img{
        width: 50%;
    }

    .app_btn{
        display: grid;
        grid-template-columns: repeat(2, max-content);
        column-gap: 1rem;
        justify-items: center;
    }

    .footer_data{
        grid-template-columns: repeat(2, 1fr);
    }

}   

/*---------large devices----------*/
@media screen and (min-width: 767px){
    .section{
        padding: 7rem 0 2rem;
    }

    .nav{
        height: calc(var(--header-heigth) + 1.5rem);
    }

    .nav_toggle,
    .nav_close{
        display: none;
    }

    .nav-list{
        flex-direction: row;
        column-gap: 3rem;
        padding-top: 0;
    }

    .nav-link{
        font-size: var(--normal-font-size);
    }

    .home_container,
    .sobre_container,
    .app_container{
        grid-template-columns: repeat(2, 1fr);
    }

    .home_title{
        font-size: 2.3rem;
    }

    .home_img img{
        max-height: 600px;
    }

    .sobre_grupo{
        order: 1;
    }

    .brands_container{
        gap: 4rem 8rem;
    }

    .why_container{
        padding: 5rem;
    }

    .why_descriçao{
        line-height: 1.8;
    }

    .popular{
        padding-top: 20rem;
    }

    .newletter_data{
        max-width: 500px;
    }

    .app_container{
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        padding-top: 2rem;
        margin-top: 2rem;
        position: relative;
    }

    .app_img{
        position: absolute;
        right: 3rem;
        top: -9.5rem;
        width: 220px;
    }

    .app_data{
        width: 350px;
    }

    .ios-btn a,
    .android-btn a{
        padding: 0.6rem 1.4rem;
    }
}

/*---------For large devices----------*/
@media screen and (min-width: 1040px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .home_title{
        font-size: 3.5rem;
        line-height: auto;
        margin-bottom: 1rem;
    }

    .home_descriçao{
        margin-bottom: 3rem;
    }

    .home-button{
        margin-bottom: 1.5rem;
    }

    .home_img{
        position: absolute;
        top: 17%;
        right: 14%;
        width: 30%;
    }

    .sobre_img{
        width: 75%;
    }

    .sobre_container{
        justify-items: center;
        gap: 0;
    }

    .sobre_data-card{
        width: 400px;
    }

    .brands_container{
        grid-template-columns: repeat(6, max-content);
    }

    .brands_img{
        width: 50px;
    }

    .polular_container{
        width: 875px;
        padding-top: 3rem;
    }

    .popular_card{
        width: 258px;
        margin-bottom: 5rem;
    }

    .polular_container{
        padding-bottom: 2.5rem;
    }

    .produtos_filtros{
        column-gap: 2rem;
        margin-bottom: 4.5rem;
    }

    .produtos_item{
        width: 53px;
        height: 52px;
    }

    .produtos_item img{
        width: 2rem;
    }

    .produtos_content{
        grid-template-columns: repeat(3, 248px);
        gap: 3rem;
    }

    .produtos_card{
        margin-bottom: 0;
    }

    .app_container{
        padding: 3rem 0 2rem 5rem;
        margin-top: 11rem;
    }

    .app_img{
        position: absolute;
        right: 5rem;
        top: -16rem;
        width: 330px;
    }

    .app_data{
        width: 400px;
    }

    .ios-btn a,
    .android-btn a{
        padding: 0.7rem 1.6rem;
    }

    .ios-btn a img,
    .android-btn a img{
        width: 25px;
    }

    .footer_data{
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
    }
}

.about_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about_page-whapper{
    flex: 1;
    text-align: center;
    width: 55%;
    padding-left: 1%;
    margin-top: 10%;
}

.about_text-whapper{
    flex: 1;
    text-align: justify;
    padding: 0 20px;
}